/node_modules/
/public/build/

.DS_Store
_old-svelte-version/package-lock.json
_old-svelte-version/package.json
_old-svelte-version/rollup.config.js
_old-svelte-version/dist/favicon.png
_old-svelte-version/dist/global.css
_old-svelte-version/dist/index.html
_old-svelte-version/dist/build/bundle.css
_old-svelte-version/dist/build/bundle.js
_old-svelte-version/dist/build/bundle.js.map
_old-svelte-version/scripts/setupTypeScript.js
_old-svelte-version/src/App.svelte
_old-svelte-version/src/itemStore.js
_old-svelte-version/src/main.js
_old-svelte-version/src/MqttDetailsView.svelte
_old-svelte-version/src/MqttMessageView.svelte
_old-svelte-version/src/MqttView.svelte
_old-svelte-version/src/SyntaxHighlight.svelte
_old-svelte-version/src/TreeView.svelte
